<div class="profile-header">
  <h1>Change your passowrd</h1>
</div>
<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
  <app-input
    [name]="'oldPassword'"
    [control]="passwordForm.get('oldPassword')"
    [label]="'Old password'"
    [type]="'password'"
    [maxlength]="'60'"
  ></app-input>
  <app-input
    [name]="'password'"
    [control]="passwordForm.get('password')"
    [label]="'New password'"
    [type]="'password'"
    [maxlength]="'60'"
  ></app-input>
  <app-input
    [name]="'confirmPassword'"
    [control]="passwordForm.get('confirmPassword')"
    [label]="'Confirm new password'"
    [type]="'password'"
    [maxlength]="'60'"
  ></app-input>

  <ng-container
    *ngIf="
      passwordForm.errors &&
      (passwordForm.get('password').touched ||
        passwordForm.get('confirmPassword').touched)
    "
  >
    <p class="is-danger help" *ngIf="passwordForm.errors.passwordsDontMatch">
      Password and confirm password must match!
    </p>
  </ng-container>

  <button
    class="button button--password"
    [disabled]="passwordForm.invalid"
    type="submit"
  >
    Change password
  </button>
</form>
<div class="spinner" *ngIf="isLoading">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
