form {
  padding: 2rem;
  position: relative;
}

.button--password {
  padding: 0.9rem 2.5rem;
  min-width: 7.5rem;
  color: #fff;
  background-color: #0db3e3;
  font-size: 1rem;
  max-width: 21.25rem;
  margin-top: 2rem;
}

.button--password:hover {
  transition: 0.3s;
  background-color: #027190;
  border: 1px solid #027190;
}

.help {
  bottom: 5rem;
}
