<div class="password-container">
  <h1>Reset your password</h1>
  <p>Please enter new password!</p>
  <form
    [formGroup]="resetPasswordForm"
    (ngSubmit)="onSubmit()"
    *ngIf="!isLoading"
  >
    <app-input
      [name]="'password'"
      [control]="resetPasswordForm.get('password')"
      [label]="'Password'"
      [type]="'password'"
      [maxlength]="'60'"
    ></app-input>
    <app-input
      [name]="'confirmPassword'"
      [control]="resetPasswordForm.get('confirmPassword')"
      [label]="'Confirm password'"
      [type]="'password'"
      [maxlength]="'60'"
    ></app-input>
    <button
      class="button button--reset-password"
      type="submit"
      [disabled]="resetPasswordForm.invalid"
    >
      Reset Password
    </button>
  </form>
  <p class="back" *ngIf="!isLoading">Go <a routerLink="/">home</a></p>
  <div class="spinner" *ngIf="isLoading">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</div>
