.subtitle {
  line-height: 28px;
  color: #6c757d;
  text-align: justify;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.no-books {
  margin-top: 4rem;
  padding-top: 1rem;
  border-top: 1px solid #eeeeee;
  line-height: 50px;
  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;
}
