form {
  padding: 3rem 0;
}

.button--comment {
  padding: 0.5rem 2rem;
  color: #fff;
  background-color: #0db3e3;
  font-size: 0.9rem;
  min-width: 7.5rem;
  max-width: 21.25rem;
}

.button--comment:hover {
  transition: 0.3s;
  background-color: #027190;
  border: 1px solid #027190;
}

.help {
  bottom: 2.2rem;
}

.login {
  text-align: center;
}

.login a {
  text-decoration: none;
  color: #0db3e3;
  font-weight: 600;
  transition: 0.2s;
}

.login a:hover {
  color: #333;
}
