<div class="password-container">
  <h1>Forgot Password</h1>
  <p>Please enter your email to get mail with link to reset your password!</p>
  <form
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="onSubmit()"
    *ngIf="!isLoading"
  >
    <app-input
      [name]="'email'"
      [control]="forgotPasswordForm.get('email')"
      [label]="'Email'"
      [maxlength]="'60'"
    ></app-input>
    <button
      class="button button--forgot-password"
      type="submit"
      [disabled]="forgotPasswordForm.invalid"
    >
      Reset Password
    </button>
  </form>
  <p class="back" *ngIf="!isLoading">Go <a routerLink="/">home</a></p>
  <div class="spinner" *ngIf="isLoading">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</div>
