.password-container {
  padding: 2rem;
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  height: 92vh;
}

.password-container h1,
.password-container p {
  color: #333;
  text-align: center;
}

.password-container p {
  margin-bottom: 4rem;
}

.button--forgot-password {
  margin-top: 1rem;
  padding: 0.9rem 2rem;
  min-width: 7.5rem;
  color: #fff;
  background-color: #0db3e3;
  font-size: 1rem;
  width: 100%;
}

.button--forgot-password:hover {
  transition: 0.3s;
  background-color: #027190;
}

.back {
  font-size: 1.1rem;
}

.back a {
  text-decoration: none;
  font-weight: 600;
  color: #0db3e3;
  transition: 0.3s;
}

.back a:hover {
  color: #027190;
}
