.main-container {
  display: flex;
  margin: 0 auto;
  min-height: 850px;
  width: 1150px;
}

.content {
  background-color: #fff;
  width: 100%;
}

/* RESPONSIVE */
@media only screen and (max-width: 1209px) {
  .main-container {
    width: 100%;
    margin: 0;
    min-height: 100vh;
    height: 100%;
  }
}
