<div class="container">
  <h1 class="header">Login to Stories</h1>
  <form [formGroup]="logInForm" (ngSubmit)="onLoginSubmit()" *ngIf="!isLoading">
    <app-input
      [name]="'userEmail'"
      [control]="logInForm.get('usernameOrEmail')"
      [label]="'Username or Email'"
      [maxlength]="'60'"
      (input)="error = null"
    ></app-input>
    <app-input
      [name]="'password'"
      [control]="logInForm.get('password')"
      [label]="'Password'"
      [type]="'password'"
      [maxlength]="'60'"
      (input)="error = null"
    ></app-input>
    <ng-container
      *ngIf="
        error &&
        (!logInForm.get('usernameOrEmail').errors ||
          !logInForm.get('password').errors)
      "
    >
      <p class="is-danger help">{{ error }}</p>
    </ng-container>

    <a routerLink="/password/forgot-password" class="forgot-password"
      >Forgot your password?</a
    >

    <button
      class="button button--login"
      [disabled]="logInForm.invalid"
      type="submit"
    >
      Login to Stories
    </button>
  </form>

  <div class="footer" *ngIf="!isLoading">
    <p class="suggestion">
      You don't have an account?
      <a class="link" routerLink="/join/signup">Sign up</a>
    </p>
  </div>
  <div class="spinner" *ngIf="isLoading">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</div>
