<div class="container">
  <h1 class="header">Get in touch</h1>
  <p class="subtitle">If you have any question for me, please contact me</p>
  <form [formGroup]="contactFrom" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
    <app-input
      [name]="'name'"
      [control]="contactFrom.get('name')"
      [label]="'Your Name'"
      [maxlength]="'60'"
    ></app-input>
    <app-input
      [name]="'email'"
      [control]="contactFrom.get('email')"
      [label]="'Email'"
      [maxlength]="'60'"
    ></app-input>
    <app-input
      [name]="'subject'"
      [control]="contactFrom.get('subject')"
      [label]="'Subject'"
      [maxlength]="'60'"
    ></app-input>
    <div class="control">
      <label class="label">Message <span>*</span></label>
      <textarea
        class="textarea"
        rows="3"
        [formControl]="contactFrom.get('message')"
      ></textarea>

      <ng-container *ngIf="showErrors('message')">
        <div class="is-danger help">
          Message is required and it must be at least 15 characters.
        </div>
      </ng-container>
    </div>

    <button
      class="button button--mail"
      [disabled]="contactFrom.invalid"
      type="submit"
    >
      Send email
    </button>
  </form>
  <div class="spinner" *ngIf="isLoading">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</div>
